@import "../../../../../dist/scss/variables.scss";

section {
  width: 100%;
  min-height: 250px;

  background: $secondary-background-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

  margin-top: 20px;

  &.loading {
    background-image: url("../../../../../assets/img/bg-task.png");
    background-repeat: no-repeat;
    background-position: center 30px;
  }

  ul {
    padding: 20px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 10px;

      input {
        &[type="checkbox"] {
          width: 4%;
          margin-right: 0.5rem;
        }

        &[type="text"] {
          pointer-events: none;
          background-color: #f0f0f0;
          border-radius: 1rem;
          width: 60%;
          padding: 5px 10px;
          border: none;

          font-size: 16px;
          color: $primary-text-color;
          &.checked {
            text-decoration: line-through;
          }
        }
        &[type="text"]:focus {
          outline: 2px solid $primary-color;
          border-radius: 1.5rem;
        }
      }

      //  Class do botão rename
      .renameButton {
        width: 10%;
        border: none;
        border-radius: 0.8rem;
        background-color: rgb(142, 62, 247);
        margin-left: 1rem;
      }

      .rename-icon {
        width: 100%;
      }

      .rename-icon:hover {
        background-color: white;
      }

      // Class do botão delete
      .deleteButton {
        width: 10%;
        border: none;
        border-radius: 0.8rem;
        background-color: rgb(240, 238, 238);
        margin-left: 1rem;
      }

      .delete-icon {
        width: 100%;
      }

      .delete-icon:hover {
        background-color: #b3b1b3;
        border-radius: 0.6rem;
      }
    }
  }
}
