@import "../../../../../dist/scss/variables.scss";

section {
  width: 100%;
  min-height: 250px;

  background: $secondary-background-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

  margin-top: 20px;

  &.loading {
    background-image: url("../../../../../assets/img/bg-task.png");
    background-repeat: no-repeat;
    background-position: center 30px;
  }

  ul {
    padding: 20px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 10px;

      input {
        &[type="checkbox"] {
          width: 4%;
          margin-right: 0.5rem;
        }

        &[type="text"] {
          pointer-events: none;
          background-color: #f0f0f0;
          border-radius: 1rem;
          width: 60%;
          padding: 5px 10px;
          border: none;

          font-size: 16px;
          color: $primary-text-color;
          &.checked {
            text-decoration: line-through;
          }
        }
        &[type="text"]:focus {
          outline: 2px solid $primary-color;
          border-radius: 1.5rem;
        }
      }

      button {
        width: 35px;
        border: 1px solid black;
        border-radius: 1rem;
        background-image: linear-gradient(
          144deg,
          #c098f5,
          rgb(142, 62, 247) 50%,
          #aa77ec
        );
      }

      .rename-icon {
        width: 30px;
        height: 30px;
        // border-radius: 1rem;
      }

      .rename-icon:hover {
        background-color: white;
        border-radius: 1rem;
      }

      .delete-icon {
        width: 30px;
        height: 30px;
      }
      .delete-icon:hover {
        background-color: white;
        border-radius: 1rem;
      }
    }
  }
}
