<section [ngClass]="{ loading: !tasklist.length }">
  <ul *ngIf="tasklist.length">
    <li *ngFor="let item of tasklist; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" />
      <input
        [readonly]="isDisabled"
        autofocus
        #textInput
        type="text"
        (keyup)="validationInput(item.task, i)"
        [(ngModel)]="item.task"
        [ngClass]="{ checked: item.checked }"
        placeholder="Digite o nome de sua Task..."
      />

      <button
        (click)="focusInput(textInput); enableInput()"
        class="renameButton"
      >
        <img
          class="rename-icon"
          src="https://img.icons8.com/arcade/64/edit.png"
          alt="edit text"
        />
      </button>

      <button (click)="deleteItemTaskList(i)">
        <div>
          <img
            class="delete-icon"
            src="https://img.icons8.com/deco/48/trash.png"
            alt="trash"
          />
        </div>
      </button>
    </li>
  </ul>
</section>

<app-todo-input-add-itens
  (emitItemTaskList)="setEmitTaskList($event)"
></app-todo-input-add-itens>
<app-todo-button-delete-all
  *ngIf="tasklist.length"
  (click)="deleteAllTaskList()"
></app-todo-button-delete-all>
